/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/UserSettings/
.vs/
.vscode/
.DS_Store
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
/.idea
/build/Android.Project
/Assets/StreamingAssets/AssetBundles
/Assets/AddressableAssetsData/Android
/ProjectSettings/ProjectVersion.txt
/Assets/StreamingAssets/ab
/output/
A_ScoreBUILD_DEBUGFiles
A_ScoreBattle_LogFiles
.vsconfig
/Packages/packages-lock.json
battle_record
ProjectSettings/ProjectVersion.txt
/APK
/Assets/StreamingAssets/
/MemoryCaptures/
doc/Shader/
assetcheck.log
code_analyze_result.json
config.yaml
fix_report.yaml
rule_report.yaml



/Assets/EXTests
/Assets/EXTests.meta
